In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("kpop_idols.csv")
df

,Stage Name,Full Name,Korean Name,K. Stage Name,Date of Birth,Group,Country,Birthplace,Other Group,Gender
0,A.M,Seong Hyunwoo,성현우,에이엠,1996-12-31,Limitless,South Korea,NaN,NaN,M
1,Ace,Jang Wooyoung,장우영,에이스,1992-08-28,VAV,South Korea,NaN,NaN,M
2,Aeji,Kwon Aeji,권애지,애지,1999-10-25,Hashtag,South Korea,Daegu,NaN,F
3,AhIn,Lee Ahin,이아인,아인,1999-09-27,MOMOLAND,South Korea,Wonju,NaN,F
4,Ahra,Go Ahra,고아라,아라,2001-02-21,Favorite,South Korea,Yeosu,NaN,F
...,...,...,...,...,...,...,...,...,...,...
1305,Ziu,Park Heejun,박희준,지우,1997-06-16,VAV,South Korea,NaN,NaN,M
1306,ZN,Bae Jinye,배진예,지엔,1994-06-09,LABOUM,South Korea,Bucheon,UNI.T,F
1307,Zoa,Cho Hyewon,조혜원,조아,2005-05-31,Weeekly,South Korea,NaN,NaN,F
1308,Zuho,Bae Juho,백주호,주호,1996-07-04,SF9,South Korea,NaN,NaN,M
1309,Zuny,Kim Joomi,김주미,주니,1994-12-08,Ladies' Code,South Korea,Gwangju,NaN,F

In [18]:
df.fillna("",inplace=True)
df["Birthplace"]

0
1
2         Daegu
3         Wonju
4         Yeosu
         ...
1305
1306    Bucheon
1307
1308
1309    Gwangju
Name: Birthplace, Length: 1310, dtype: object

# City
- Seoul=188 คน 
- Busan=60 คน 
- Daegu=27คน 
- Wonju=5คน 
- Yeosu=4คน

In [33]:
Daegu = 0
Wonju = 0
Yeosu = 0
Busan = 0
Seoul = 0
City={
    "Seoul":[],
    "Busan" : [],
    "Daegu" : [],
    "Wonju": [],
    "Yeosu" : []
}
for i in range(len(df)):
    if df["Birthplace"].loc[i]=="Daegu":
        Daegu +=1
        City["Daegu"].append(df["Full Name"].loc[i])
        
    elif df["Birthplace"].loc[i] =="Wonju":
        Wonju+=1
        City["Wonju"].append(df["Full Name"].loc[i])
        
    elif df["Birthplace"].loc[i] =="Yeosu":
        Yeosu +=1
        City["Yeosu"].append(df["Full Name"].loc[i])
        
    elif df["Birthplace"].loc[i] == "Seoul":
        Seoul +=1
        City["Seoul"].append(df["Full Name"].loc[i])
        
    elif df["Birthplace"].loc[i] == "Busan":
        Busan +=1
        City["Busan"].append(df["Full Name"].loc[i])
        
print("Seoul={} คน \nBusan={} คน \nDaegu={}คน \nWonju={}คน \nYeosu={}คน".format(
    Seoul,Busan,Daegu,Wonju,Yeosu)
)

Seoul=188 คน
Busan=60 คน
Daegu=27คน
Wonju=5คน
Yeosu=4คน

# Male and Female

In [42]:
M=0
F=0
x=0
for i in df["Gender"]:
    if i == "M":
        M +=1
    elif i == "F":
        F +=1
print("Male = {} \nFemale = {}".format(M,F))

Male = 676
Female = 634

# Group

In [54]:
group = []
for i in range(len(df)):
    if df.duplicated("Group").loc[i]== False:
        group.append(df["Group"].loc[i])
print(len(group)-1,"group")

208 group